<h2>List of all registered users</h2>
    <ul>
      <% @users.each do |user| %>
      <li>User email: <%= user.email %></li>
		<li>User is admin: <%= user.admin %></li>
        <% end %>
    </ul>

<%= link_to 'Create new user', new_user_path %>
