<style>
.sel {
	font-size: 2em;
	background-color: blue;
}
</style>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
		
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title text-center">Create a New Vote!</h3>
			 	</div> 

			  	<div class="panel-body">
					<%= form_for @up_down_vote, {role: "form"} do |f| %>
						<br>
						<div class="panel-heading">
					    	<h3 class="panel-title text-center">What would you like to have a vote on?</h3>
					 	</div>
					  <fieldset>
						<div class="form-group">
								<%= f.text_area(:question, class: "form-control", rows: "3") %> <br>
						</div>
						<div class="form-group">
							<div class="panel-heading">
						    	<h3 class="panel-title text-center">How long would you like voting to be open?</h3>
						 	</div>
							

						
							<%= f.select :vote_time, [['1min',1],['5min',5],['15min',15],['1hr',60]], {prompt: "Select a time"}, {class: "form-control"}%>
							<br>
						
							<%= f.submit("Create a New Vote!", class: "btn btn-primary center-block") %>
						</div>
						
					  </fieldset>
					<% end %>
				</div>
			
			</div>

		


</div>
</div>
</div>



	
<!-- [['1min',1],['5min',5],['15min',15],['1hr',60]] -->


