<h3>Vote: <%= @up_down_vote.question %> </h3>
<h4>Id: <%= @up_down_vote._id %> </h4>
<p class="glyphicon glyphicon-thumbs-up"> Yes <%= @up_down_vote.up_vote %> </p>
<p class="glyphicon glyphicon-thumbs-down"> No <%= @up_down_vote.down_vote %> </p>

